<div class="container">
    <div class="row">
        <div class="col-xs-5">
           <button class="btn btn-success" (click) = onEditRecipe()>New Recipe</button>
           <hr>
        </div>
        
    </div>
 
    <div class="row">
        <div class="col-xs-5">
                <app-recipe-item 
                *ngFor="let recipeItem of recipes; let i = index" 
                [recipe] = "recipeItem" 
                [index] = "i"
                ></app-recipe-item>
            </div>
    </div>
</div> 
